WebSite2/App_WebReferences/WebAPI/Webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetByEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByEmpResult" type="tns:Employees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employees">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HireDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportsTo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllByEmp">
        <s:complexType />
      </s:element>
      <s:element name="GetAllByEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllByEmpResult" type="tns:ArrayOfEmployees" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployees">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewByEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewByEmpResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateByEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByEmpResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteByEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByEmpResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetByEmpSoapIn">
    <wsdl:part name="parameters" element="tns:GetByEmp" />
  </wsdl:message>
  <wsdl:message name="GetByEmpSoapOut">
    <wsdl:part name="parameters" element="tns:GetByEmpResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllByEmpSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllByEmp" />
  </wsdl:message>
  <wsdl:message name="GetAllByEmpSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllByEmpResponse" />
  </wsdl:message>
  <wsdl:message name="NewByEmpSoapIn">
    <wsdl:part name="parameters" element="tns:NewByEmp" />
  </wsdl:message>
  <wsdl:message name="NewByEmpSoapOut">
    <wsdl:part name="parameters" element="tns:NewByEmpResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateByEmpSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateByEmp" />
  </wsdl:message>
  <wsdl:message name="UpdateByEmpSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateByEmpResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByEmpSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByEmp" />
  </wsdl:message>
  <wsdl:message name="DeleteByEmpSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByEmpResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetByEmp">
      <wsdl:input message="tns:GetByEmpSoapIn" />
      <wsdl:output message="tns:GetByEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByEmp">
      <wsdl:input message="tns:GetAllByEmpSoapIn" />
      <wsdl:output message="tns:GetAllByEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewByEmp">
      <wsdl:input message="tns:NewByEmpSoapIn" />
      <wsdl:output message="tns:NewByEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateByEmp">
      <wsdl:input message="tns:UpdateByEmpSoapIn" />
      <wsdl:output message="tns:UpdateByEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByEmp">
      <wsdl:input message="tns:DeleteByEmpSoapIn" />
      <wsdl:output message="tns:DeleteByEmpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByEmp">
      <soap:operation soapAction="http://tempuri.org/GetByEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByEmp">
      <soap:operation soapAction="http://tempuri.org/GetAllByEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewByEmp">
      <soap:operation soapAction="http://tempuri.org/NewByEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByEmp">
      <soap:operation soapAction="http://tempuri.org/UpdateByEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByEmp">
      <soap:operation soapAction="http://tempuri.org/DeleteByEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByEmp">
      <soap12:operation soapAction="http://tempuri.org/GetByEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByEmp">
      <soap12:operation soapAction="http://tempuri.org/GetAllByEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewByEmp">
      <soap12:operation soapAction="http://tempuri.org/NewByEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByEmp">
      <soap12:operation soapAction="http://tempuri.org/UpdateByEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByEmp">
      <soap12:operation soapAction="http://tempuri.org/DeleteByEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:49578/API/Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:49578/API/Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>